@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
} */

/* @media () {
   
} */

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #b9dbed, #878c47 20%, #c4a578);
  background-size: 100% 100%;
  background-attachment: relative; 
  color: black;
}

.image-slideshow {
  width: 200px; /* Set your desired width */
  height: 150px; /* Set your desired height */
  object-fit: cover; /* Optional: This property ensures the images maintain their aspect ratio and cover the defined dimensions. */
}


