@tailwind base;
@tailwind components;
@tailwind utilities;

body {
 /* background: linear-gradient(to bottom, #b5d9e9, #d4e9f8); */
 /* background: #d5d4c2; */
  color: black;
}

.format {
  width: 250px; 
  height: 175px;
}

.project-image {
  width: 300px; /* Set the desired width */
  height: 200px; /* Set the desired height */
  object-fit: cover; /* Maintain aspect ratio and cover container */
}

.arrow-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px; /* Set a fixed width for the arrow buttons */
  padding: 5px; /* Adjust padding as needed */
}

.arrow-button.previous {
  left: 0;
}

.arrow-button.next {
  right: 0;
}

.y-space {
  align-content: space-between;
}

/* globals.css */
@keyframes poof {
  0% { transform: scale(1); opacity: 1; }
  100% { transform: scale(2); opacity: 0; }
}

/* Add this to your global styles (e.g., in globals.css or another CSS file) */
.glow-on-hover {
  position: relative;
  display: inline-block;
  transition: color 0.3s;
  color: black;
}

.glow-on-hover::after {
  content: '';
  position: absolute;
  left: -5px;
  top: -5px;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  box-shadow: 0 0 10px yellow, 0 0 20px yellow, 0 0 30px yellow, 0 0 40px yellow;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  pointer-events: none; /* Ensure the pseudo-element does not interfere with interactions */
  background-color: yellow;
}

.glow-on-hover:hover::after {
  opacity: 0.4;
  font-weight: 900;
}



