@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
} */

/* @media () {
   
} */

body {
  /* margin: 0;
  padding: 0;
  background: linear-gradient(to right, #d9edf8, #b4d8ea);
  background-size: 100% 100%;
  background-attachment: relative;  */
  /* background-color: #d9edf8; */
  background: linear-gradient(45deg, #d9edf8, #b4d8ea);
  color: black;
}

.image-slideshow {
  width: 200px; /* Set your desired width */
  height: 150px; /* Set your desired height */
  object-fit: cover; /* Optional: This property ensures the images maintain their aspect ratio and cover the defined dimensions. */
}


