.foggy-highlight {
    position: relative;
    display: inline-block;
    color: black;
    font-size: 18px;
    font-weight: bold;
  }

  .foggy-highlight::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120%;
    height: 120%;
    background: rgba(255, 220, 98, 1); 
    filter: blur(16px); /* Blur for foggy effect */
    z-index: -0.9;
    transform: translate(-50%, -50%);
    pointer-events: none; /* Ensure the highlight doesn't interfere with text interaction */
  }
  
  .foggy-highlight::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120%;
    height: 120%;
    background: rgba(255, 255, 0, 0.2); 
    filter: blur(15px); 
    z-index: -2;
    transform: translate(-50%, -50%);
    pointer-events: none;
  }